{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>GrammarGuard</title>
</head>
<body class="h-[70rem] pt-[10rem] bg-gradient-to-b from-gray-900 to-[#300171]">
    <div class="absolute w-full -z-10 h-full p-[4rem] opacity-[5%] bg-[url({% static 'images/background-pattern.svg' %})]"></div>
    <header class='flex justify-center'>
        <h1 class="text-xl min-[310px]:text-2xl sm:text-3xl md:text-4xl font-semibold text-white">Welcome to <span class="text-[#6666ff]">GrammarGuard</span></h1>
    </header>
    <main class="max-w-[1120px] px-[20px] mx-auto">
        <div class="mt-[1rem]">
            <h1 class="text-2xl font-semibold mb-[0.5rem] text-white">Your analysed text:</h1>
            <form action="{% url 'analysis_results' %}" method="post">
                <div class="flex flex-col">
                    {% csrf_token %}
                    {% if analysis_result %}
                        <div contenteditable="true" class="outline-none h-[15rem] bg-[#7a62f6] bg-opacity-30 text-white font-semibold rounded-lg outline-offset-0 ease-out duration-300 border border-[#563a89] w-full p-3 outline-4 focus:outline-[#50457b]">{{ analysis_result.highlighted_text | safe }}</div>
                    {% else %}
                        <textarea required minlength="10" name="textarea" id="textInput" class="outline-none h-[15rem] bg-[#7a62f6] bg-opacity-30 text-white font-semibold rounded-lg outline-offset-0 ease-out duration-300 border border-[#563a89] w-full p-3 outline-4 focus:outline-[#50457b]"></textarea>
                    {% endif %}
                    {% if analysis_result %}
                        <div class="mt-[0.5rem] flex justify-between mb-[1rem]">
                            <a href="/"><h2 class="text-[#e8ddff] easy-in duration-300 hover:scale-[1.1] text-lg font-bold cursor-pointer underline">Clear Text</h2></a>
                            <p class="text-white text-lg font-semibold">{{ analysis_result.words_count }} words</p>
                        </div>
                    {% else %}
                        <input type="submit" class="text-[#243046] mt-[1rem] w-[10rem] h-[3rem] rounded-full bg-[#e8ddff] ease-out duration-300 hover:scale-[1.05] hover:bg-[#6666ff] hover:text-white text-xl font-semibold mx-auto cursor-pointer" value="Analyze">
                    {% endif %}
                </div>
            </form>
        </div>
        {% block content %} {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
