{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>GrammarGuard</title>
</head>
<body class="bg-[#7cc1ac]">

    <header class='flex justify-center mt-[4rem]'>
        <h1 class="text-xl min-[310px]:text-2xl sm:text-3xl md:text-4xl font-semibold text-white">Welcome to GrammarGuard</h1>
    </header>

    <main class="max-w-[1120px] px-[20px] mx-auto">
        <div class="mt-[1rem]">
            <h1 class="text-2xl font-semibold mb-[0.5rem] text-white">Your analysed text:</h1>
            <form action="{% url 'analysis_results' %}" method="post">
                <div class="flex flex-col">
                    {% csrf_token %}
                    {% if analysis_result %}
                        <textarea required minlength="10" name="textarea" id="textInput" class="outline-none h-[15rem] bg-[#ebecf5] font-semibold rounded-lg outline-offset-0 ease-out duration-300 border border-gray-400 w-full p-3 outline-4 focus:outline-[#c38d9d]">{{ analysis_result.original_text }}</textarea>
                    {% else %}
                        <textarea required minlength="10" name="textarea" id="textInput" class="outline-none h-[15rem] bg-[#ebecf5] font-semibold rounded-lg outline-offset-0 ease-out duration-300 border border-gray-400 w-full p-3 outline-4 focus:outline-[#c38d9d]"></textarea>
                    {% endif %}
                    {% if analysis_result %}
                        <div class="mt-[0.5rem] flex justify-between mb-[1rem]">
                            <a href="/"><h2 class="text-[#e8a87c] easy-in duration-300 hover:scale-[1.1] hover:text-[#e27d5f] text-lg font-bold cursor-pointer underline">Clear Text</h2></a>
                            <p class="text-white text-lg font-semibold">{{ analysis_result.words_count }} words</p>
                        </div>
                    {% endif %}
                    <input type="submit" class="text-white mt-[1rem] w-[10rem] h-[3rem] rounded-full bg-[#e8a87c] ease-out duration-300 hover:scale-[1.05] hover:bg-[#e27d5f] text-xl font-semibold mx-auto cursor-pointer" value="Analyze">
                </div>
            </form>
        </div>
        {% block content %} {% endblock %}
    </main>

    <footer>
    </footer>

</body>
</html>
